.tag {
  font-size: 12px;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 2px;
}

.tag.new {
  color: white;
  background-color: rgb(133, 156, 26);
}

.tag.coming {
  color: white;
  background-color: rgb(133, 133, 133);
}

.bg-light-green {
  background-color: rgb(129, 227, 148);
}

.header {
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  transition: all .3s;
}

body {
  margin: 0;
}

a {
  color: darkgreen;
  font-size: 15px;
}
/* 已改為15px */

a:link {
  color: #1d4596;
  font-weight: bold;
}

a:visited {
  color: purple;
}

a:hover {
  color: #1d9396;
}

h3 {
  color: rgb(22, 47, 8);
  margin-left: 20px;
}

ul {
  background-color: #ebebeb;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  ul {
    background-color: #eec;
  }
}

.position-fixed {
  position: fixed;
  left: 0px;
  right: 0px;
}
.position-fixed + .profile {
  display: inline-block;
  margin-top: 76px;
}

.none {
  display: none;
}

.block {
  display: block;
}

div:hover + h1 {
  font-size: 50px;
  transition: all .5s
}

h1:hover i {
  display: none;
}
/* 為何要綁兩個標千才起的了作用啊 */
/**
 * 你的做法是「當經過h1時把 <i>我是士偉</i> 隱藏起來」
 * 其實你也可以不用 i 包住，直接使用
 * h1:hover { display: none; }
 */

h1:hover:before {
  content: "@I-Lan";
}
/* 這用法沒學過 就照字面上來翻 滑鼠移過h1要變不見之前將內文改變為@I-Lan */
/**
 * :before 這個關鍵字是新用法，它叫偽類別。
 * 它會在畫面上產生"新的區塊"但你的程式裡面不用加東西。
 * ex:
 * h1:before {
 *   content: 'Hello';
 * }
 *
 * <h1>
 *   ::before ← 生出這塊，內容是 Hello
 *   你好
 * </h1>
 *
 * 所以使用者會直接看到 「Hello 你好」
 * 但 html 碼裡是看不到 Hello 這個字的
 * 這用法常用在清單前的特殊符號，以往我們會：
 * <ul>
 *   <li><span class="red">★</span>項目1</li>
 *   <li><span class="red">★</span>項目2</li>
 *   ...
 * </ul>
 *
 * 但若使用 :before, 你可以這樣:
 * <ul>
 *   <li>項目1</li>
 *   <li>項目2</li>
 *   ...
 * </ul>
 *
 * CSS:
 * ul > li:before {
 *   content: '★';
 *   color: #f00;
 * }
 *
 * 這就就俐落多了!
 *
 */
li {
  line-height: 25px;
  list-style: none;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  /**
   * ↑ margin-left 設負數是減少對左的外距
   * 但你打開 Elements 工具列會發現增加距離的不是 li
   * 而是 ul 的 padding (內距) 影響的
   * 詳見這截圖： https://imgur.com/a/GthxD3W
   * 所以與其對 li 下 margin-left 負數
   * 不如直接對 ul 下 padding-left: x 會來得正確
   */
}

ul {
  font-size: 15px;
  padding-left: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  ul {
    border-radius: 0px;
  }
  .header {
    font-size: 100%;
  }
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 90px;
}
.center {
  text-align: center;
}

#layout {
  margin: 0 auto;
  max-width: 1000px;
}
